* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

/* Main */
.main {
    height: 90vh;
    background: linear-gradient(#005479, #012b44);
    position: relative;
}

.main::before {
    content: '8';
    color: #FFF;
    font-size: 150em;
    opacity: 0.1;
    transform: translate(0, -30%) rotate(90deg);
    position: absolute;
    z-index: 1;
    right: -20%;
}

.background_img {
    background: url(../images//s01_01.png) no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    padding-bottom: 50%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.background_img::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 60;
    padding-bottom: 60%;
    background: linear-gradient(#005479, #012b44);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_nav {
    overflow: auto;
    position: relative;
    z-index: 10;
}

.main_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.main_nav ul li {
    display: inline-block;
    font-size: 1.3em;
    padding: 1em;
}

.main_nav ul li a {
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
}

.main_content {
    color: #FFF;
    float: right;
    position: absolute;
    top: 50%;
    top: calc(50% + 56px);
    right: 20vw;
    transform: translate(0, -50%);
    overflow: hidden;
}

.main_content h1::first-letter {
    text-transform: capitalize;
}